*.exe
*.o
*.d
*.mk
*.axf
*.map
*.bin
*.jtag
*.swp
*.swo
src/host/pixymon/pixymon.pro.user
src/host/build-pixymon-Desktop_Qt_5_15_1_MinGW_32_bit-Release/
src/host/build-pixymon-Desktop_Qt_5_15_1_MinGW_32_bit-Debug/
